# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
env/
.env/
.venv/

# Empaquetado y distribución
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Editores y SO
.vscode/
.idea/
*.swp
*.DS_Store

*.csv
*.zip
*.json